.due-name{
    color: black;
}

.delete-task-btn{
    color: black;
}

.hidden{
    display: none !important;
}



:root{
    --accent: #5138EA;
    --accent-hover: #302094;
    --main-bg: #222222;
    --secondary-bg: #DDDDDD;
    --white-bg: #FFFFFF;
    --main-text: #000000;
    --grey-text: #444444;
    --font: "Merriweather Sans", sans-serif;
    --shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: var(--main-bg);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: var(--font);
    overflow: hidden;
}

/* ! LOGIN PAGE */

.auth{
    background-color: var(--secondary-bg);
    height: 400px;
    width: 350px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 25px;
    box-shadow: var(--shadow);
}

@media (max-width: 700px) {
    .auth{
        height: 100vh;
        width: 100vw;
        padding-top: 100px;
    }
}

.switch{
    background-color: var(--accent);
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    height: 40px;
    color: white;
    box-shadow: var(--shadow);
    width: 300px;
    position: relative;
    margin-bottom: 20px;
}

.switch div{
    height: 40px;
    width: 150px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.auth-no-focus{
    cursor: pointer;
}

.auth-focus{
    color: black;
}

.focus-bg{
    height: 40px;
    width: 150px;
    position: absolute;
    background-color: #fff;
    box-shadow: var(--shadow);
    right: 150px;
}

@keyframes focusBgGoLeft {
    0%{
        right: 0px;
    }100%{
        right: 150px;
    }
}

@keyframes focusBgGoRight {
    0%{
        right: 150px;
    }100%{
        right: 0px;
    }
}

.focus-bg-left{
    animation: focusBgGoLeft .2s forwards;
}

.focus-bg-right{
    animation: focusBgGoRight .2s forwards;
}

.hidden-auth{
    display: none;
}

.shown-auth{
    display: block;
}

.login, .register{
    height: 200px;
    width: 300px;
    margin-top: 25px;
}

#login_status{
    color: red;
    text-align: center;
}

#register_status{
    text-align: center;
}

.auth-inner{
    display: flex;
    flex-direction: column;
}

.auth-inner input{
    background-color: #fff;
    border: none;
    height: 30px;
    border-radius: 10px;
    box-shadow: var(--shadow);
    padding-left: 20px;
    margin-bottom: 20px;
}

.auth-inner label{
    margin: 10px 0px;
    font-size: 12px;
}

.auth-inner button {
    margin-top: 30px;
    height: 40px;
    border-radius: 10px;
    border: none;
    background-color: var(--accent);
    color: #fff;
    box-shadow: var(--shadow);
    cursor: pointer;
    transition: backgroundColor, .2s;
    font-size: 16px;
}

.auth-inner button:hover{
    background-color: var(--accent-hover);
}


/* ! USER PAGE HEADER */

.user{
    height: 80vh;
    width: 90vw;
}

.username{
    color: white;
    font-size: 24px;
    margin-bottom: 100px;
}

button{
    background-color: #fff;
    border-radius: 10px;
    border: none;
    box-shadow: var(--shadow);
    cursor: pointer;
}

.add-new-task-btn{
    height: 40px;
    color: var(--accent);
    transition: background .2s;
    padding: 0px 10px 0px 10px;
    font-weight: 900;
    font-size: 12px;
    display: flex;
    align-items: center;
}

.add-new-task-btn:hover, .update-tasks:hover{
    background-color: rgb(199, 199, 199);
    color: var(--accent-hover);
}

.add-new-task-btn span{
    font-size: 24px;
    margin-top: -5px;
    margin-right: 5px;
}

.update-tasks{
    height: 40px;
    width: 40px;
    margin-left: 10px;
    transition: background .2s;
    background-color: var(--secondary-bg);
}

.task-buttons{
    display: flex;
}

/* ! ADD NEW TASK */

.addNewTask{
    background-color: rgba(0, 0, 0, .8);
    position: absolute;
    height: 100vh;
    top: 0;
    width: 100vw;
    left: 0;
    z-index: 3;
}

.new-task-header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    font-size: 12px;
}

.new-task-header button {
    background: none;
    box-shadow: none;
}

.new-task-container{
    background-color: var(--secondary-bg);
    height: 370px;
    width: 500px;
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    padding: 20px;
}

.new-task-container h1 {
    color: black;
    margin: inherit;
}

.new-task-container input, .new-task-container textarea{
    height: 30px;
    border: none;
    box-shadow: var(--shadow);
    margin-top: 10px;
    border-radius: 10px;
    padding-left: 20px;
}

.new-task-container textarea{
    height: 110px;
    padding-top: 10px;
    font-family: var(--font);
    resize: none;
    font-size: 12px;
}

.new-task-container input[type="date"]{
    width: 150px;
}

.new-tag-btn{
    margin-left: 10px;
}

.add-task-button {
    margin-top: 40px;
    background-color: var(--accent);
    height: 30px;
    color: white;
    transition: background .2s;
}

.add-task-button:hover{
    background-color: var(--accent-hover);
}

.new-task-alert{
    position: absolute;
    color: crimson;
    top: 60px;
}

/* ! SORTING */

.sorting{
    /* background-color: red; */
    margin-top: 30px;
}

.time-sort{
    display: flex;
    gap: 10px;
}

.time-sort div{
    color: #fff;
    padding: 3px 20px;
    line-height: 20px;
    border-radius: 15px;
    font-size: 12px;
    height: 30px;
    border: solid var(--grey-text);
    cursor: pointer;
}

.time-sort-active{
    border-color: var(--accent) !important;
}

/* ! TASKS CONTAINER */

.tasks-container{
    padding: 0px;
    height: 70vh;
    overflow: scroll;
    margin-top: 10px;
}

.task:last-child{
    /* background-color: red; */
    margin-bottom: 10vh;
}

.task{
    background-color: var(--secondary-bg);
    border-radius: 10px;
    box-shadow: var(--shadow);
    padding: 20px;
    margin-top: 20px;
}

.task-header{
    display: flex;
    justify-content: space-between;
}

.task-header button{
    box-shadow: none;
    background: none;
    opacity: .3;
    padding: 3px;
    transition-duration: .1s;
}

.task-header button:hover {
    opacity: 1;
    background-color: rgba(255, 0, 0, .2);
}


.task-name{
    color: black;
    font-size: 24px;
    font-weight: 700;
}

.task-tag{
    display: inline-block;
    min-width: 100px;
    color: white;
    border-radius: 15px;
    padding: 2px 25px 0px 10px;
    font-size: 12px;
    position: relative;
    height: 20px;
    margin-right: 5px;
    overflow: hidden;
    margin-top: 5px;
}


.task-tag button {
    /* display: none; */
    position: absolute;
    right: 10px;
    color: white;
    background: none;
    box-shadow: none;
    font-weight: 600;
}

.tags-container{
    display: flex;
    margin: 5px 0px 10px 0px;
    flex-wrap: wrap;
}

.tags-container > button {
    height: 20px;
    width: 20px;
    background-color: black;
    color: white;
    margin-top: 5px;
}


.description-text{
    color: black;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 300;
}

.due-container{
    display: flex;
    gap: 8px;
}

.today{
    color: #FF7400;
}

.overdue{
    color: crimson;
}

.due-span{
    color: var(--grey-text);
}

/* ! ALL TAGS LIST */

.all-tags-list{
    background-color: white;
    box-shadow: var(--shadow);
    min-width: 160px;
    height: 150px;
    overflow: scroll;
    display: inline-block;
    border-radius: 10px;
    padding: 5px 15px 15px 15px;
    margin-left: 10px;
    position: absolute;
}

.all-tags-list div {
    min-width: 150px;
    display: flex;
    justify-content: space-between;
    margin: 10px 0px 10px 0px;
}

.all-tags-list button {
    box-shadow: none;
}

.all-tags-list img{
    width: 15px;
}

.usertag-delete-button:hover{
    color: red;
}

/* ! NEW TAG MODAL */

.new-tag{
    z-index: 3;
    background-color: rgba(0, 0, 0, .8);
    position: absolute;
    height: 100vh;
    top: 0;
    left: 0;
    width: 100vw;
}

.new-tag-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--secondary-bg);
    width: 500px;
    padding: 30px 20px 30px 20px;
    border-radius: 10px;
}

.new-tag-container input[type="text"]{
    height: 30px;
    width: 460px;
    margin-top: 20px;
    padding: 0px 20px 0px 20px;
    border-radius: 10px;
    box-shadow: var(--shadow);
    border: none;
}

.new-tag-container input[type="color"]{
    margin-top: 10px;
    border: none;
}

.add-new-tag{
    display: block;
    height: 30px;
    margin-top: 20px;
    width: 460px;
    background-color: var(--accent);
    color: white;
}

.add-new-tag:hover{
    background-color: var(--accent-hover);
}

.tagColorLabel{
    margin-top: 20px;
    display: block;
    color: var(--grey-text);
    font-size: 12px;
}

@keyframes loadingCircle {
    0%{
        transform: rotate(0deg);
    }100%{
        transform: rotate(360deg);
    }
}

.tasks-loading{
    margin-top: 10vh;
    display: flex;
    justify-content: center;
    animation: loadingCircle 1.5s infinite;
}